#reco{
    width: 100%;
    // height: 95vh;
    background-color: $backcolor2;
    padding-top: 2%;
    // justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    .searchbar{
        width: 97%;
        height: 40px;
        background-color: $backcolor1;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 1%;
        display: flex;
        flex-direction: row;
        border-radius: 20px;
        border: 0;
        &:hover{
            box-shadow: 0 2px 2px 0 rgba(0,0,0,0.5);
        }
        .magimg{
            padding-top: 5px;
            padding-left: 1.05%;
            background-color: rgba(0,0,0,0);
            border-radius: 50%;
            background-color: $backcolor1;
        }
        img{
            width: 30px;
            height: 30px;
            background-color: $backcolor1;
        }
        input{
            width: 98%;
            border-radius: 0 20px 20px 0;
            border: 0;
            background-color: rgba(0,0,0,0);
            margin-left: 1%;
            padding-left: 1%;
        }
    }
    .cards{
        background-color: rgba(0,0,0,0);
        width: 100%;

        padding-left: 5%;
        padding-right: 5%;
        padding-top: 2%;
        padding-bottom: 2%;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

    .card{
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: $backcolor1;
            box-shadow: 0 2px 2px 0 rgba(0,0,0,0.5);
            width: 20%;
            height: 71.5vh;
            padding-top: 2vh;
            padding-bottom: 2vh;
            border-radius: 20px;
            img{
                height: 45vh;
                margin: auto;
                display: block;
                border-radius: 10px;
                box-shadow: 0 2px 2px 0 rgba(0,0,0,0.5);
            }
            h2{
                text-align: center;
                background-color: $backcolor1;
            }
            h3{
                background-color: $backcolor1;
                text-align: center;
            }
            p{
                background-color: $backcolor1;
                text-align: center;
            }
            h5{
                background-color: $backcolor1;
                text-align: center;
            }
            button{
                text-align: center;
                margin: auto;
                display: block;
                width: 20%;
                height: 3vh;
            }
    }
    }
    
}