@import "./variables.scss";
@import "./navbar.scss";
@import "./header.scss";
@import "./bsb.scss";
@import "./reco.scss";
@import "./reviews.scss";
@import "./footer.scss";

// @import "./filepath"

html{
    scroll-behavior: smooth;
}

* {
    background-color: $backcolor1;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.text{
    font-size: 80px;
}

.space{
    height: 10vh;
    background-color: $backcolor1;
}
// can branch like header button{} could be header{ button{}}
// can do button{&:hover{}} rather than button:hover
// have to do flexbox properly at some point...

// https://www.youtube.com/watch?v=eLY5KSXcQ6c - using Google Fonts